<div ng-app="app">

  <div ng-controller="todoCtrl">

    <input ng-model="newTask">

    <button class="submit-button" ng-click="addTask(newTask)">Add</button>
    
    <div ng-repeat="task in tasks track by $index">

      <li ng-click="strike(task)" ng-class="{strikethrough: task.complete}">{{ task.text }}</li>
<!--       <button ng-click="deleteTask($index)">Delete</button>  -->

    </div>

  </div>

</div>