<div ng-app="app">

  <div ng-controller="todoCtrl">

    <input ng-model="newTask" placeholder="Add a thing to do">
    <button ng-click="addTask(newTask)">Add</button><br><br>

    <span class="headertext">Tasks</span><br>
    
    <ul>
      <div ng-repeat="task in tasks track by $index">
        <li style="list-style-type: circle" ng-click="completeTask(task)" ng-class="{strikethrough: task.complete}" ng-show="task.visible">{{ task.text }} <span class="smalltext" ng-click="deleteTask($index)">remove</span></li><br>
      </div>
    </ul>

    {{ countTasks() }} <br><br>

    <button ng-click="showAll()">Show All</button>
    <button ng-click="showActive()">Show Active</button>
    <button ng-click="showCompleted()">Show Completed</button>
    <button ng-click="clearCompleted()">Clear Completed</button>
    <button ng-click="clearAll()">Clear All</button>

  </div>

</div>