body {
  color: darkslateblue;
}

.strikethrough {
  text-decoration: line-through;
}

.smalltext {
  color: lightslategray;
  font-size: .8em;
  font-style: italic;
}

.headertext {
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: bold;
  color: slateblue;
}